<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body  style="width:100%;height:500px;background:url(__PUBLIC__/static/Admin/img/beijing.jpg) no-repeat;">
	  <table style="float:left;margin-left:380px;margin-top:180px;background:gray;">
         <tr style="width:100px;height:40px;border:1px solid gray;">
            <th><button style="width:150px; height:40px;border:none; color:white;background:gray;">注册时间</button></th>
            <th><button style="width:150px; height:40px;border:none; color:white;background:gray;">电话-ID</button></th>
            <th><button style="width:150px; height:40px;border:none; color:white;background:gray;">微信昵称</button></th>
            <th><button style="width:150px; height:40px;border:none; color:white;background:gray;">最后一次登录时间</button></th>
            <th><button style="width:150px; height:40px;border:none; color:white;background:gray;">30天内地理位置信息</button></th>

          </tr>
         <tr style="width:100px;height:40px;border:1px solid gray;background:white;">
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>

          </tr>
          <tr style="width:100px;height:40px;border:1px solid gray;background:white;">
               <td>11111</td>
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>

         </tr>
          <tr style="width:100px;height:40px;border:1px solid gray;background:white;">
               <td>11111</td>
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>
  
         </tr>
          <tr style="width:100px;height:40px;border:1px solid gray;background:white;">
               <td>11111</td>
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>


   
         </tr>
          <tr style="width:100px;height:40px;border:1px solid gray;background:white;">
               <td>11111</td>
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>
              <td>11111</td>
   
         </tr>
</body>
</html>